<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abel.mobilin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mobilin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mobilin"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjekAkhirRentalMobil">

        <!-- Splash / Launcher -->
        <activity
            android:name="com.abel.mobilin.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Landing -->
        <activity
            android:name="com.abel.mobilin.WelcomeActivity"
            android:exported="false" />

        <!-- Login -->
        <activity
            android:name="com.abel.mobilin.LoginActivity"
            android:exported="false" />

        <activity
            android:name="com.abel.mobilin.RegisterActivity"
            android:exported="false" />

        <activity
            android:name="com.abel.mobilin.ForgotPasswordActivity"
            android:exported="false" />

        <!-- Main -->
        <activity
            android:name="com.abel.mobilin.MainActivity"
            android:exported="false" />

    </application>

</manifest>